<h2>Student List</h2>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>DOB</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let st of (data$ | async)">
        <td>{{ st.id }}</td>
        <td>{{ st.name }}</td>
        <td>{{ st.mail }}</td>
        <td>{{ st.phone }}</td>
        <td>{{ st.dob }}</td>
        <td><button type="button" (click)="deleteStudent(st.id)">Delete</button></td>
    </tr>
</table>